language: go

go:
  - 1.x
  - master

install:
  - go get golang.org/x/net/context
  - go get golang.org/x/time/rate
  - go get github.com/sirupsen/logrus
  - go get github.com/stretchr/testify/assert

script: go test -v -race ./...
